<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="internalLogFile.log"
      internalLogLevel="Warn"
      internalLogToConsole="false"
      internalLogToConsoleError="false">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
           layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="gmail" xsi:type="Mail" header="Dear Developer,${newline}${newline}You have received a trace error message from the NLog program. Details of Exception below.
${newline}${newline}---------------------------------------------------------------------------------------------------------------------------${newline}${newline}"
        footer="${newline}${newline}---------------------------------------------------------------------------------------------------------------------------
${newline}${newline}This is an auto-generated email. Please do not reply to this." addNewLines="true"
        layout="Date - ${longdate}${newline}Level - ${level:uppercase=true}${newline}Machine Name - ${machinename}${newline}User - ${windows-identity}${newline}
Message - ${message}${newline}Process - ${processname:fullname=True}${newline}${newline}
Exception - ${exception:format=tostring: maxInnerExceptionLevel=5: innerExceptionSeparator=      -- Inner Exception -> }"
        smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="lycntech@gmail.com"
            smtpPassword="73e6220ea4"
            enableSsl="true"
            from="lycntech@gmail.com"
            to="liangyi2012@gmail.com" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    <logger name="*" minlevel="Error" writeTo="gmail" />
  </rules>
</nlog>